ul {
  margin: 0;
  padding: 0;
}

ul li, ul li input {
  list-style-type: none;
  display: block;
}

p#status, div#post-form p, input#post-form-text, ul#post-list, ul#log-list {
  margin-top: 1em;
}

